// Color Names provided by http://chir.ag/projects/name-that-color/
$alto: #dddddd;
$black: #000000;
$cod-gray: #0A0A0A;
$gallery: #eeeeee;
$gray: #888888;
$maroon: #770000;
$red: #ff0000;
$silver: #cccccc;
$white: #ffffff;

$azure: #336699;
$geyser: #cfd8dc;
$lynch: #607d8b;
$tundora: #444444;
$ziggurat: #bbd8dc;

// Superhero background-images
$heroes: aquaman batman captain-america deathstroke flash gambit green-lantern hulk iron-man magneto professor-x spider-man superman thor wolverine wonder-woman;
